In [1]:
import pandas as pd

In [35]:
data_set = pd.read_csv('../data/no_repeats.csv')

In [36]:
data_set

                                                   title  Classifier
0      At least 800 civilians killed by coalition str...           0
1      Bathroom lawsuit could send transgender rights...           0
2      British minister to be investigated over sexua...           0
3      Dutch tourist group cuts South Africa visit sh...           0
4       Arizona Governor Blocks 31,000 Low Income Chi...           1
...                                                  ...         ...
38724  BREAKING  Putin Tramples Obama’s Imaginary Red...           1
38725  Clinton seeks to keep Trump on defensive after...           0
38726   Watch Joe Biden Tells Us EXACTLY What Trump I...           1
38727  Australian police seize record A$1 billion met...           0
38728  May confident of winning Brexit deal that work...           0

[38729 rows x 2 columns]

In [37]:
import math as math

In [38]:
row_count = data_set['title'].count()

In [39]:
test_set = data_set.tail(math.floor(0.1*row_count))

In [40]:
test_set

                                                   title  Classifier
34857  Trump-Russia revelations raise hopes for U.S. ...           0
34858  Brazil police suspect Temer, aides involved in...           0
34859  Story Withdrawn: Wealthy win in U.S. House tax...           0
34860   GOP Official Just Quit Trump’s Bogus Voter Fr...           1
34861   Alabama’s Only Gay Rep Just Dropped A Devasta...           1
...                                                  ...         ...
38724  BREAKING  Putin Tramples Obama’s Imaginary Red...           1
38725  Clinton seeks to keep Trump on defensive after...           0
38726   Watch Joe Biden Tells Us EXACTLY What Trump I...           1
38727  Australian police seize record A$1 billion met...           0
38728  May confident of winning Brexit deal that work...           0

[3872 rows x 2 columns]

In [41]:
final_set = data_set.copy()

In [42]:
cond = final_set['title'].isin(test_set['title'])

In [43]:
final_set.drop(final_set[cond].index, inplace = True)

In [44]:
3872+34857

38729

In [45]:
final_set

                                                   title  Classifier
0      At least 800 civilians killed by coalition str...           0
1      Bathroom lawsuit could send transgender rights...           0
2      British minister to be investigated over sexua...           0
3      Dutch tourist group cuts South Africa visit sh...           0
4       Arizona Governor Blocks 31,000 Low Income Chi...           1
...                                                  ...         ...
34852  Putin says U.S. gripped by fabricated spymania...           0
34853  Putin warns North Korea situation on verge of ...           0
34854  MEGA POP STAR ADELE Says Racist, Black Panther...           1
34855  Uphill battle looms as Trump seeks revamped he...           0
34856  Exclusive: Iraq holding 1,400 foreign wives, c...           0

[34857 rows x 2 columns]

In [46]:
final_set.to_csv('../data/Final_data_set.csv')

In [47]:
test_set.to_csv('../data/Test_data_set.csv++')