In [1]:
import pandas as pd
from nltk.tokenize import RegexpTokenizer

In [2]:
import pandas as pd
from nltk.tokenize import RegexpTokenizer

Created a word boundary tokenizer using RegexpTokenizer

In [3]:
tokenizer = RegexpTokenizer(r'\w+')

In [4]:
data_set = pd.read_csv("../data/Final_data_set.csv")

Applied defined tokenizer to 'title' column of dataset to create a 'token' column

In [5]:
data_set["tokens"] = data_set["title"].apply(tokenizer.tokenize)

In [6]:
data_set.head()

,Unnamed: 0,title,Classifier,tokens
0,0,At least 800 civilians killed by coalition str...,0,"[At, least, 800, civilians, killed, by, coalit..."
1,1,Bathroom lawsuit could send transgender rights...,0,"[Bathroom, lawsuit, could, send, transgender, ..."
2,2,British minister to be investigated over sexua...,0,"[British, minister, to, be, investigated, over..."
3,3,Dutch tourist group cuts South Africa visit sh...,0,"[Dutch, tourist, group, cuts, South, Africa, v..."
4,4,"Arizona Governor Blocks 31,000 Low Income Chi...",1,"[Arizona, Governor, Blocks, 31, 000, Low, Inco..."

**Note**: The possessive `s` is created as a token and Aamrah has an article on how to deal with them

In [7]:
data_set.to_csv("tokens.csv")